{% extends "base.html" %}
{% block title %} <title>Product list</title> {% endblock %}
{% block content %}
<div class="container">
  <h5 class="py-4 shadow bg-white rounded pl-2">Product list</h5>
  <div class="jumbotron text-center">
    <form method="GET" action="">
        <div class="row align-items-center">
          {% for field in form %}
          <div class="col">
                {{ field.label }} <br> {{ field }}
              </div>
            {% endfor %}
        </div> <!-- row -->
        <div class="row mt-4">
          <div class="col">
            <button type="submit" name="submit" class="btn btn-secondary">submit</button>
          </div>
        </div>
        <!-- row -->
    </form>
</div>
<a href="{% url 'product:create' %}" class="btn btn-success btn-sm mb-3">create</a>

    
    <table class="table table-bordered table-hover shadow p-3 bg-white rounded">
      <thead>
        <tr>
          <th scope="col">name</th>
          <th scope="col">description</th>
          <th scope="col">price</th>
          <th scope="col">active</th>
          <th scope="col">category</th>
          <th scope="col">tags</th>
        </tr>
      </thead>
      <tbody>
          {% for object in object_list %}
              <tr class="td-targets" data-tarhref="{{ object.get_absolute_url }}" style="cursor:pointer">
                  <td>{{ object.title }}</a></td>
                  <td>{{ object.description }}</td>
                  <td>{{ object.price }} $ </td>
                  <td>
                    {% if object.active %} 
                    <span class="badge badge-success">yes</span> 
                    {% else %} 
                    <span class="badge badge-danger">no</span> 
                    {% endif %} 
                  </td>
                  <td>
                    {% if object.category %} 
                      {{ object.category.name }}
                    {% else %} 
                      no category
                    {% endif %} 
                  </td>
                  <td>
                    {% if object.tag.all %} 
                      {{ object.tag.all|join:"," }}
                    {% else %} 
                      no tags
                    {% endif %} 
                  </td>
                </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}